<div class="container">
    <footer class="footer footer-default">
        <div class="container">
            <nav class="float-right">
                <ul>
                    <li><a href="https://flatlander-store.com/"></a></li>
                    <li><a href="https://flatlander-store.com/presentation" >
                            Inicio
                        </a></li>
                    <li><a href="https://flatlander-store.com/blog" >Blog</a></li>
                    <li><a href="https://flatlander-store.com/license" >Licencias</a></li>
                </ul>
            </nav>
        </div>
    </footer>
</div>
