<div class="page-header" data-parallax="true"
    style="background-image: url('./img/WhatsApp\ Image\ 2020-12-02\ at\ 6.49.05\ PM.jpeg');">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="title">Encuentra las mejores gemas</h1>
                <h4>En Flatlanders Store tenemos aquella joya que necesitas para crear energia o darle a tu querida
                </h4>
                <br>
                <a href="https://www.youtube.com/watch?v=7Hk5A_TrLKg" target="_blank"
                    class="btn btn-rose btn-raised btn-lg" style="color: white;">
                    <i class="fa fa-play"></i> Mira nuestro video
                </a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="card card-raised card-carousel">
            <div id="carousel" class="carousel slide" data-ride="carousel" data-interval="2000">
                <ol class="carousel-indicators">
                    <li data-target="#carousel" data-slide-to="0"></li>
                    <li data-target="#carousel" data-slide-to="1" class="active"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active carousel-item-left">
                        <img src="./img/bck/banner1.png" alt="First slide" class="d-block w100">
                        <div class="carousel-caption d-none d-md-block">
                            <h4>
                                <i class="material-icons">loyalty</i>
                                Promocion 1
                            </h4>
                        </div>
                    </div>
                    <div class="carousel-item carousel-item-next carousel-item-left">
                        <img src="./img/banner5.jpg" alt="First slide" class="d-block w100">
                        <div class="carousel-caption d-none d-md-block">
                            <h4>
                                <i class="material-icons">loyalty</i>
                                Promocion 2
                            </h4>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                    <i class="material-icons">keyboard_arrow_left</i>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                    <i class="material-icons">keyboard_arrow_right</i>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</div>



<div class="main main-raised" style="background-color: #141414;">
    <div class="container">
        <div class="section text-center">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <h2 class="title" style="color: white;">Hablemos de nuestro producto</h2>
                    <h5 class="description">Somos una familia que se dedica a ir a la mina a sacar las mejores gemas
                        del mercado,
                        con el fin de que tu tengas el mejor producto y la mejor calidad para regalar.
                    </h5>
                </div>
            </div>
            <div class="features">
                <div class="row">
                    <div class="col-md-4">
                        <div class="info">
                            <div class="icon icon-rose">
                                <i class="material-icons">chat</i>
                            </div>
                            <h4 class="info-title" style="color: white;">Platica con nosotros</h4>
                            <p>Si tienes alguna duda con nuestros productos o algun problema con tu entrega.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="info">
                            <div class="icon icon-primary">
                                <i class="material-icons">verified_user</i>
                            </div>
                            <h4 class="info-title" style="color: white;">Compras Verificadas</h4>
                            <p>Tenemos la mejor entrega del mercado.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="info">
                            <div class="icon icon-rose">
                                <i class="material-icons">weekend</i>
                            </div>
                            <h4 class="info-title" style="color: white;">Entregas Comprobadas</h4>
                            <p>Estamos seguros de que tu producto llegará en las mejores condiciones.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="section text-center">
        <h2 class="title" style="color: white;">Este es nuestro equipo</h2>
        <div class="team">
            <div class="row">
                <div class="col-md-4">
                    <div class="team-player" style="padding-left: 50px;">
                        <div class="card card-raised" style="background-color: #303030;">
                            <div class="col-md-6 ml-auto mr-auto">
                                <img src="./img/profile/father.png" alt="" class="img-raised rounded-circle img-fluid"
                                    style="padding-top: 20px;">
                            </div>
                            <h4 class="card-title" style="color: white;">Flatlanders Father
                                <br>
                                <small class="card-description text-muted">Fuerza Bruta</small>
                            </h4>
                            <div class="card-body">
                                <p class="card-description">
                                    El encargado de mi familia.
                                </p>
                            </div>
                            <div class="card-footer justify-content-center">
                                <a href="#father" class="btn btn-link btn-just-icon"><i class="fa fa-twitter"></i></a>
                                <a href="#father" class="btn btn-link btn-just-icon"><i class="fa fa-instagram"></i></a>
                                <a href="#father" class="btn btn-link btn-just-icon"><i
                                        class="fa fa-facebook-square"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="team-player">
                        <div class="card card-raised" style="background-color: #303030;">
                            <div class="col-md-6 ml-auto mr-auto">
                                <img src="./img/profile/mom-baby.png" alt="" class="img-raised rounded-circle img-fluid"
                                    style="padding-top: 20px;">
                            </div>
                            <h4 class="card-title" style="color: white;">Flatlanders Mom
                                <br>
                                <small class="card-description text-muted">Diseñadora</small>
                            </h4>
                            <div class="card-body">
                                <p class="card-description">
                                    La mamá
                                </p>
                            </div>
                            <div class="card-footer justify-content-center">
                                <a href="#mother" class="btn btn-link btn-just-icon"><i class="fa fa-twitter"></i></a>
                                <a href="#mother" class="btn btn-link btn-just-icon"><i class="fa fa-instagram"></i></a>
                                <a href="#mother" class="btn btn-link btn-just-icon"><i
                                        class="fa fa-facebook-square"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="team-player" style="padding-right: 50px;">
                        <div class="card card-raised" style="background-color: #303030;">
                            <div class="col-med-6 ml-auto mr-auto">
                                <img src="./img/profile/kid.png" alt="" class="img-raised rounded-circle img-fluid"
                                    style="padding-top: 20px;">
                            </div>
                            <h4 class="card-title" style="color: white;">Flatlanders Son
                                <br>
                                <small class="card-description text-muted">Gerente de tienda</small>
                            </h4>
                            <div class="card-body">
                                <p class="card-description">
                                    El hijo
                                </p>
                            </div>
                            <div class="card-footer justify-content-center">
                                <a href="#son" class="btn btn-link btn-justi-icon"><i class="fa fa-twitter"></i></a>
                                <a href="#son" class="btn btn-link btn-justi-icon"><i class="fa fa-instagram"></i></a>
                                <a href="#son" class="btn btn-link btn-justi-icon"><i
                                        class="fa fa-facebook-square"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="section text-center">
        <div class="team">
            <div class="row">
                <div class="col-md-6">
                    <div class="team-player" style="padding-left: 50px;">
                        <div class="card card-raised" style="background-color: #303030;">
                            <div class="row">
                                <div class="col-sm-6" style="padding-left: 50px; padding-top: 25px;">
                                    <h3 class=" card-title" style="color: white;">Gemas de Oferta</h5>
                                        <p class="card-text" style="color: #bababa;">Descuentos por temporada!</p>
                                        <a href="#" class="btn btn-rose">Ver más</a>
                                </div>
                                <div class="col-sm-6 text-center">
                                    <img src="./img/Gems_0.png" alt="" class="card-img" style="width: 12rem;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="team-player" style="padding-right: 50px;">
                        <div class="card card-raised" style="background-color: #303030;">
                            <div class="row">
                                <div class="col-sm-6" style="padding-top: 5px; padding-left: 50px;">
                                    <h3 class="card-title" style="color: white;">Encuentra tu gema ideal!</h5>
                                        <p class="card-text" style="color: #bababa;">Tenemos lo que buscabas!</p>
                                        <a href="#" class="btn btn-rose">Ver más</a>
                                </div>
                                <div class="col-sm-6 text-center">
                                    <img src="./img/unnamed (1).png" alt="" class="card-img" style="width: 12rem;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <sold></sold>

    <div class="section section-contacts">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
                <h2 class="text-center title" style="color: white;">Tienes alguna duda?</h2>
                <h4 class="text-center description">Cualquier duda, aqui te atendemos.</h4>
                <form action="" class="contact-form">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="bmd-label-floating">Tu Nombre</label>
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="bmd-label-floating">Correo</label>
                                <input type="email" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="message" class="bmd-label-floating">Que piensas?</label>
                        <textarea name="" id="" rows="4" id="message" class="form-control"></textarea>
                    </div>
                    <div class="row">
                        <div class="col-md-4 ml-auto mr-auto text-center">
                            <button class="btn btn-rose btn-raised">
                                <i class="material-icons">
                                    favorite
                                </i>
                                Envianos algo
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>